#header {
	background-color: rgb(11, 16, 19);
	width: 100vw;
	height: 32px;
	overflow: hidden;
	color: rgb(220, 220, 220);
}

#header-settings-btn {
	float: right;
	font-size: 22px;
	padding: 5px;
	cursor: pointer;
	transition: 0.3s;
	transition-timing-function: cubic-bezier(0.25, 0, 0.75, 1);
}

#header-settings-btn:hover {
	transform: rotate(90deg);
	transition: 0.3s;
	transition-timing-function: cubic-bezier(0.25, 0, 0.75, 1);
}

.header-btns {
	float: left;
	margin: 2px;
	height: 28px;
	text-align: center;
	font-size: 20px;
	border-right: rgba(255, 255, 255, 0.5) 1px solid;
	cursor: pointer;
}

.header-btns:hover {
	color: #5bc6f4;
}

.header-btns p {
	margin: 0 15px;
	padding: 0;
}
