html(lang="de")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Overlays
        link(rel='stylesheet', href='https://cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css')
        link(rel='stylesheet', href='/chat/style/main.css')
        link(rel='stylesheet', href='/chat/style/header.css')
        link(rel='stylesheet', href='/chat/style/chat.css')
        link(rel='stylesheet', href='/chat/style/newViewer.css')
        link(rel='stylesheet', href='/chat/style/menu.css')
        link(rel='stylesheet', href='/chat/style/right.css')
    body