html(lang="de")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        title=name
        link(href='https://cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css', rel='stylesheet')
        link(href='/chat/style/main.css', rel='stylesheet')
        link(href='/chat/style/header.css', rel='stylesheet')
        link(href='/chat/style/chat.css', rel='stylesheet')
        link(href='/chat/style/newViewer.css', rel='stylesheet')
        link(href='/chat/style/menu.css', rel='stylesheet')
        link(href='/chat/style/right.css', rel='stylesheet')
        link(href='/chat/style/userOptions.css', rel='stylesheet')
        meta(name="data", content=data)
    body
        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
        // Menu / Settings Background
        #background-overlay
        // Menu
        #menu-overlay
            #close-menu
            include assets/menu
        #header
            include assets/header

        #main-container
            // Twitch Chat Window
            #twitch-chat
                include assets/twitchChat
            // New Viewer Window
            #new-viewer
                include assets/newViewer
            // Twitch user Options
            #twitch-chat-user-options
                include assets/userOptions

        // Right Window
        #right
            include assets/right

        script(src='/chat/scripts/header.js')
        script(src='/chat/scripts/right.js')
        script(src='/chat/scripts/main.js')
        script(src='/chat/scripts/chat.js')
        script(src="/chat/scripts/userOptions.js")

