html(lang="de")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title BF_Bot
        link(rel='stylesheet', href='https://cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css')
        link(rel='stylesheet', href='/activity/style/main.css')
        link(rel='stylesheet', href='/activity/style/header.css')
    body
        #header
            include assets/header

        script(src='/activity/scripts/header.js')