div(id='header-home-btn' class='header-btns')
    p Home
div(id='header-chat-btn' class='header-btns')
    p Chat
div(id='header-activity-btn' class='header-btns')
    p Activity
div(id='header-overlays-btn' class='header-btns')
    p Overlays
div(id='header-alerts-btn' class='header-btns')
    p Alerts
span(id='header-settings-btn' class='mdi mdi-cog-outline')