div(id='header-home-btn' class='header-btns')
    p Home
div(id='header-chat-btn' class='header-btns')
    p Chat
div(id='header-activity-btn' class='header-btns')
    p Activity
div(id='header-overlays-btn' class='header-btns')
    p Overlays
div(id='header-alerts-btn' class='header-btns')
    p Alerts

span(id='open-close-btn' class='mdi mdi-chevron-double-left')
span(id='header-settings-btn' class='mdi mdi-cog-outline')
div(id='right-title')
    div(id='right-title-dropdown')
        | Viewer
    div(id='right-title-dropdown-content')
        div(id='right-title-dropdown-viewer').active
            | Viewer
        div(id='right-title-dropdown-actions')
            | Actions
        div(id='right-title-dropdown-title')
            | Title