#twitch-chat-wrapper

#twitch-chat-input
    form
        #select-current-account
            #twitch-chat-input-selector
            #twitch-chat-input-selector-content
        input(type="text" placeholder="Chat..." autocomplete="off")#twitch-chat-input-field