#twitch-chat-user-options-menu
    #twitch-chat-user-options-header
        // TODO Actions
    #twitch-chat-user-options-information
        #twitch-chat-user-options-information-header
            img#twitch-chat-user-options-information-logo
            #twitch-chat-user-options-information-badges
            #twitch-chat-user-options-information-name
            #twitch-chat-user-options-information-created-at
        #twitch-chat-user-options-information-btn-ban.twitch-chat-user-options-btn.positive.active
            p BAN
        #twitch-chat-user-options-information-btn-purge.twitch-chat-user-options-btn.positive.active
            p PURGE
        #twitch-chat-user-options-information-btn-timeout.twitch-chat-user-options-btn.positive.active
            p TIMEOUT
        #twitch-chat-user-options-information-btn-mod.twitch-chat-user-options-btn.positive.active
            p MOD
        #twitch-chat-user-options-information-btn-vip.twitch-chat-user-options-btn.positive.active
            p VIP

    #twitch-chat-user-options-messages